{% extends 'base.html' %}

{% block title %}
    Assignments Help
{% endblock %}

{% block content %}
    <h2 class="text-center my-2">{{ subject.name }} - {{ subject.subject_code }}</h2>
    <h3 class="text-center">Assignments</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mt-3 mb-lg-0">
                {% for assignment in assignments %}
                    {% include 'Subject/includes/assignment-article.html' %}
                {% endfor %}
			</div>
            <aside class="col-lg-4"></aside>
		</div>
	</div>
{% endblock %}