{% extends 'base.html' %}

{% block title %}
    {{ subject.name }} ({{ subject.subject_code }}) | Assignments Help
{% endblock %}

{% block content %}
    <h1 class="h2 text-center my-2">{{ subject.name }} ({{ subject.subject_code }})</h1>
    <h2 class="h3 text-center">Assignments</h2>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mt-3 mb-lg-0">
                {% for assignment in assignments %}
                    {% include 'Subject/includes/assignment-article.html' %}
                {% endfor %}
			</div>
            <aside class="col-lg-4">
                {% if documents|length > 0 %}
                    <h5 class="widget-title mt-4"><span>Study Material</span></h5>
                    <ul class="list-unstyled widget-list">
                        {% for document in documents %}
                            <li>
                                <a href="{{ document.file_url }}" target="_blank" class="d-flex">
                                {{ document.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </aside>
		</div>
	</div>
{% endblock %}