{% extends 'base.html' %}

{% block title %}
    Assignments Help
{% endblock %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="row my-4">
                    <div class="col-lg-10 mx-auto mb-4">
                        <h1 class="h2 mb-3 text-center">{{ assignment.name }}</h1>
                        <ul class="list-inline post-meta mb-1">
                            <li class="list-inline-item"><i class="ti-user mr-2"></i>
                                Subject: <a href="">{{ subject.name }}</a>
                            </li>
                            <li class="list-inline-item"><i class="ti-user mr-2"></i>
                                Course: <a href="">{{ course.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <div class="content">
                            <p>{{ assignment.question }}</p>
                        </div>
                        <script src="{{ assignment.codes }}"></script>
                    </div>
                </article>
            </div>
            <aside class="col-lg-4"></aside>
        </div>
	</div>

{% endblock %}

{% block js_files %}

{% endblock %}