{% extends 'base.html' %}

{% block title %}
    Assignments Help
{% endblock %}

{% block content %}
<section class="section-sm">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="title-bordered mb-5 d-flex align-items-center">
               <h1 class="h4">Our Privacy Policy</h1>
            </div>
            <div class="content">
               <p>Assignments Help is committed to protecting the privacy of our users. This privacy policy outlines
                   the types of personal information we collect and how it is used.</p>
               <p>When you visit our website and register for our services, we may collect personal information such as
                   your name, email address, and social media profile links. This information is used to create your
                   account, provide you with access to our services, and communicate with you about your account and our
                   services.</p>
                <p>We may also collect certain technical information, such as your IP address and browser type, when you
                    use our website. This information is used to improve the functionality and performance of our
                    website and to provide you with a better user experience.</p>
                <p>We take the protection of your personal information seriously and have implemented appropriate
                    security measures to protect it from unauthorized access, alteration, or disclosure. However,
                    no method of transmission over the internet, or method of electronic storage, is 100% secure.
                    Therefore, while we strive to use commercially acceptable means to protect your personal information.</p>
                <p>We do not share or sell your personal information with any third parties, except as required by law.
                    We may disclose personal information to third parties for purposes such as providing customer
                    support, processing payments, or conducting research.</p>
                <p>We reserve the right to modify this privacy policy at any time. Any changes to this policy will be
                    posted on our website. We encourage you to review this policy periodically to stay informed about
                    how we are protecting your personal information.</p>
                <p>If you have any questions or concerns about our privacy policy, please
                    <a href="{% url 'contact_us_view' %}"><strong class="text-primary">Contact Us</strong></a>.</p>
                <p>This privacy policy is effective as of 27th Jan, 2023.</p>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}