{% extends 'base.html' %}

{% block title %}
    {{ assignment.question }} | Assignments Help
{% endblock %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="row my-4">
                    <div class="col-lg-10 mx-auto">
                        <div class="content">
                            <h1 class="h4">{{ assignment.question }}</h1>
                            <ul class="post-meta mb-1 mt-4">
                                <li>
                                    Assignment No: {{ assignment.assignment_no }}
                                </li>
                                <li>
                                    Subject: <a href="{% url 'subject_detail_view' subject.slug %}">{{ subject.name }}</a>
                                </li>
                                <li>
                                    Author: {{ assignment.author.username }}
                                </li>
                            </ul>
                        </div>
                        <script src="{{ assignment.codes }}"></script>
{#                        {% if output_screenshots|length > 0 %}#}
{#                            <h2 class="text-center my-2">Output Screenshots: </h2>#}
{#                            <div class="post-slider">#}
{#                                {% for output in output_screenshots %}#}
{#                                    <img src="{{ output.image.url }}" class="img-fluid" alt="{{ output.assignment.name }}">#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                        {% endif %}#}
                        <p>{{ assignment.description }}</p>
                        <div>
                            <h3 class="text-center">Comment</h3>
                            <form method="POST" action="{% url 'assignment_comment_view' assignment.slug %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea name="text" id="text" class="form-control" placeholder="Whar are your thoughts?" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Comment</button>
                            </form>
                            <div>
                                <ul class="list-unstyled widget-list">
                                    {% for comment in comments %}
                                         <li class="media widget-post align-items-center">
                                            <div class="media-body">
                                                <strong>{{ comment.author }}</strong>
                                                <div>{{ comment.text }}</div>
                                               <small>{{ comment.created_at|date:"M d, Y" }}</small>
                                            </div>
                                         </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <aside class="col-lg-4"></aside>
        </div>
	</div>

{% endblock %}

{% block js_files %}

{% endblock %}