{% extends 'base.html' %}

{% block title %}
    Assignments Help
{% endblock %}

{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article class="row my-4">
                    <div class="col-lg-10 mx-auto mb-4">
                        <h1 class="h2 text-center">{{ assignment.name }}</h1>
                        <ul class="list-inline post-meta mb-1 text-center">
                            <li class="list-inline-item">
                                Subject: <a href="{% url 'subject_detail_view' subject.slug %}">{{ subject.name }}</a>
                            </li>
                            <li class="list-inline-item">
                                Course: <a href="{% url 'course_detail_view' course.slug %}">{{ course.name }}</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-10 mx-auto">
                        <div class="content">
                            <p>{{ assignment.question }}</p>
                        </div>
                        <script src="{{ assignment.codes }}"></script>
                    </div>
                </article>
            </div>
            <aside class="col-lg-4"></aside>
        </div>
	</div>

{% endblock %}

{% block js_files %}

{% endblock %}