{% extends 'base.html' %}

{% block title %}
    Assignments Help
{% endblock %}

{% block content %}
    <h2 class="text-center my-2">{{ course.name }}</h2>
    <ul class="list-inline post-meta mb-1 text-center">
        <li class="list-inline-item">
            University: <a href="{% url 'university_detail_view' course.university.slug %}">{{ course.university.name }}</a>
        </li>
    </ul>
    <h3 class="text-center">Subjects</h3>
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mt-3 mb-lg-0">
                {% for subject in subjects %}
                    {% include 'Course/includes/subject-article.html' %}
                {% endfor %}
			</div>
            <aside class="col-lg-4">
                {% if syllabuses|length > 0 %}
                    <h5 class="widget-title mt-4"><span>Syllabus</span></h5>
                    <ul class="list-unstyled widget-list">
                        {% for syllabus in syllabuses %}
                            <li>
                                <a href="{{ syllabus.syllabus.url }}" target="_blank" class="d-flex">
                                {{ syllabus.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </aside>
		</div>
	</div>
{% endblock %}