<article class="row mb-5">
              <div class="col-12">
                <h3 class="h5">
                  <a class="post-title" href=""
                    >{{ data_block.name }}</a
                  >
                </h3>
                <ul class="list-inline post-meta mb-2">
                  <li class="list-inline-item">
                    <i class="ti-user mr-2"></i
                    ><a href="author.html">John Doe</a>
                  </li>
                  <li class="list-inline-item">Date : March 14, 2020</li>
                  <li class="list-inline-item">
                    Categories : <a href="#!" class="ml-1">Newyork city </a>
                  </li>
                  <li class="list-inline-item">
                    Tags : <a href="#!" class="ml-1">City </a> ,<a
                      href="#!"
                      class="ml-1"
                      >Photo
                    </a>
                  </li>
                </ul>
                <p>
                  It’s no secret that the digital industry is booming. From
                  exciting startups to global brands, companies are reaching out
                  to digital agencies, responding to the new possibilities
                  available. However, the industry is fast becoming overcrowded,
                  heaving with agencies offering similar services — on the …
                </p>
                <a href="post-details-2.html" class="btn btn-outline-primary"
                  >Continue Reading</a
                >
              </div>
            </article>