<article class="row border-bottom p-2 m-2">
              <div class="col-12">
                <h3 class="h5">
                  <a class="post-title" href="assignment/{{ assignment.slug }}"
                    >{{ assignment.name }}</a
                  >
                </h3>
                <p>{{ assignment.question }}</p>
                  <a href="assignment/{{ assignment.slug }}" class="btn btn-outline-primary"
                  >Lets See Code</a
                >
              </div>
            </article>