<article class="row border-bottom p-2 m-2">
              <div class="col-12">
                <h3 class="h5">
                  <a class="post-title" href="{% url 'course_detail_view' course.slug %}"
                    >{{ course.name }}</a
                  >
                </h3>
                <p>
                </p>
                   <a href="{% url 'course_detail_view' course.slug %}" class="btn btn-outline-primary"
                  >Continue...</a
                >
              </div>
            </article>