<div class="col-sm-6 mb-4">
    <article class="mb-5">
        <h3 class="h5"><a class="post-title" href="{% url 'assignment_detail_view' assignment.slug %}">{{ assignment.name }}</a></h3>
        <ul class="list-inline post-meta mb-2">
            <li class="list-inline-item">Subject : <a href="{% url 'subject_detail_view' assignment.subject.slug %}">
                {{ assignment.subject.name }}</a>
            </li>
            <li class="list-inline-item">Course : <a href="{% url 'course_detail_view' assignment.subject.course.slug %}">
                {{ assignment.subject.course }}</a>
            </li>
        </ul>
        <p>{{ assignment.question }}</p>
        <a href="{% url 'assignment_detail_view' assignment.slug %}" class="btn btn-outline-primary">Let's See</a>
    </article>
</div>